{% generate section for the buttons %}
{% macro generate_people(category, people) -%}
    {%- for per in people %}
            <input type="checkbox" id="{{per}}" name="{{category}}[]" value="{{per}}">
            <label for="{{per}}">Support {{per}}</label><br>
    {% endfor %}
{%- endmacro -%}

{% generate descriptions section %}
{% macro generate_descriptions(descriptions) -%}
    {%- for des in descriptions %}
                <p>{{descriptions[des].description}}</p>
    {% endfor %}
{%- endmacro -%}

{% calls above two macros to generate repeating block %}
{% macro generate_block(title, data) -%}
            <div>
                <h3>{{title}} (Multi vote available)</h3>
    {{ generate_descriptions(data) }}
            </div>
    {{ generate_people(title, data) }}
{%- endmacro -%}


<?php

    //HTML data (template)
    $orig_HTML = <<<EOD

    <!DOCTYPE html>
    <html>
    <title>
        Ballot
    </title>

    <body>
        <h1>This is the ballot! Multiple Votes Allowed!</h1>

        <!-- form that is submitted via post -->
        <form action="Submit.php" method="post">

        <!-- repeating sections go here -->
        {%- for item in data %}
            {{ generate_block(item, data[item]) }}
        {% endfor %}

            <br><br>
            <label for="u_id">Your user id: </label>
            <!-- u_id stored here, passed on to back end with post call -->
            <input type="text" id="u_id" name="u_id" value="null_id" readonly>
            <br><br>
            <input type="submit" value="Submit">
            <br><br>
            <form action="Submit.php" method="post">

        </form>
        <br>
        <br>   
    </body>
    EOD;

    // u_id from url embedded into template, then rendered
    $u_id = $_GET['u_id'];
    echo str_replace("null_id", $u_id, $orig_HTML);

?>