{% macro generate_people(people, count) -%}
    {%- for per in people %}
            <input type="checkbox" id="{{per}}" name="vote_{count}[]" value="{{per}}">
            <label for="{{per}}">Support {{per}}</label><br>
    {% endfor %}
{%- endmacro -%}

{% macro generate_descriptions(descriptions) -%}
    {%- for des in descriptions %}
                <p>{{descriptions[des].description}}</p>
    {% endfor %}
{%- endmacro -%}

{% macro generate_block(title, data, count) -%}
            <div>
                <h3>{{title}} (Multi vote available)</h3>
    {{ generate_descriptions(data) }}
            </div>
    {{ generate_people(data, count) }}
{%- endmacro -%}


<?php

    $orig_HTML = <<<EOD

    <!DOCTYPE html>
    <html>
    <title>
        Ballot
    </title>

    <body>
        <h1>This is the ballot! Multiple Votes Allowed!</h1>

        <form action="Submit.php" method="post">
        {% set counter = 0 -%}
        {%- for item in data %}
            {{ generate_block(item, data[item], counter) }}
            {% set counter = counter + 1 -%}
        {% endfor %}

            <br><br>
            <label for="u_id">Your user id: </label>
            <input type="text" id="u_id" name="u_id" value="null_id" readonly>
            <br><br>
            <input type="submit" value="Submit">
            <br><br>
            <form action="Submit.php" method="post">

        </form>
        <br>
        <br>   
    </body>
    EOD;

    $u_id = $_GET['u_id'];
    echo str_replace("null_id", $u_id, $orig_HTML);

?>